.col-6{
    margin-top: 50px;
}


#mainNavbar a{
    color:black;
    text-decoration:none;
  
    
}
#mainNavbar a:visited{
    color:black;
    text-decoration:none;
}
#mainNavbar a:active{
    color:black;
    text-decoration:none;
}
#mainNavbar li:hover{
    
  
    text-decoration-line:underline;
}
